.App {
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 20px;
  position: relative;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  color: inherit;
}

.formSection {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Search form */

input#search {
  border: none;
  border-bottom: 2px solid #222;
  font-family: "Inconsolata", monospace;
  text-align: center;
  font-size: 20px;
}

input#search:focus {
  outline: none;
  border-bottom: 2px solid #222;
}

input#search:focus {
  outline: none;
  border-bottom: 2px solid #222;
}

button {
  font-family: "Inconsolata", monospace;
  border: 2px solid #222;
  margin-left: 10px;
  outline: none;
}

/* Constant Image Styles */

.imgWrap {
  max-width: 240px;
  width: 240px;
  height: 220px;
  margin: 7px;
  /* padding: 7px; */
  position: relative;
  background: #222;
}

img {
  width: 100%;
  max-width: 240px;
  object-fit: cover;
  object-position: center;
  height: 220px;
  margin: 0 auto;
}

.credit a {
  color: "#ffffff";
  font-size: 10px;
}
